[mysqld]
binlog_format=ROW
default-storage-engine=innodb
innodb_autoinc_lock_mode=2
innodb_doublewrite=1
query_cache_size=0
query_cache_type=0
bind-address=0.0.0.0

wsrep_provider=/usr/lib/galera/libgalera_smm.so
wsrep_cluster_name="Test"
wsrep_cluster_address="gcomm://"
wsrep_sst_method=rsync
wsrep_on=ON
wsrep_node_address="192.168.1.31"
wsrep_node_name="DB1"
